In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold
import optuna

In [2]:
from sklearn.metrics import roc_auc_score

# 데이터 로드

In [3]:
data_path = '../data/'
submission_df = pd.read_csv(data_path+'sample_submission.csv', index_col='id')

train = pd.read_csv('train.csv', index_col='id')
test = pd.read_csv('test.csv', index_col='id')

##### 변수 설정

In [4]:
X = train.drop(columns=['defects'])
y = train['defects']
X_test = test

##### train, val 분리

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=42, train_size=0.8)

print(tf_train:=dict(y_train.value_counts()), end='\t')
print('True 비율:', np.round(y_train.mean() * 100, 2), '%')
print(tf_val:=dict(y_val.value_counts()), end='\t')
print('True 비율:', y_val.mean().round(4) * 100, '%')

{False: 62874, True: 18536}	True 비율: 22.77 %
{False: 15825, True: 4528}	True 비율: 22.25 %

# 모델 학습

### Logistic Regression

In [6]:
lr = LogisticRegression(max_iter=1000) # ConvergenceWarning 방지
lr.fit(X_train, y_train)
roc_auc_score(y_val, lr.predict_proba(X_val)[:, 1])

0.7786744790358324

In [7]:
y_proba_lr = lr.predict_proba(X_test)[:, 1]
y_proba_lr

array([0.19705764, 0.18822999, 0.69524216, ..., 0.15945283, 0.14275481,
       0.57015351])

# 제출

In [8]:
submission_df['defects'] = y_proba_lr
submission_df.to_csv('submission.csv')
submission_df

         defects
id
101763  0.197058
101764  0.188230
101765  0.695242
101766  0.338176
101767  0.156598
...          ...
169600  0.211176
169601  0.150993
169602  0.159453
169603  0.142755
169604  0.570154

[67842 rows x 1 columns]

### 확인

In [9]:
pd.read_csv('submission.csv', index_col='id')

         defects
id
101763  0.197058
101764  0.188230
101765  0.695242
101766  0.338176
101767  0.156598
...          ...
169600  0.211176
169601  0.150993
169602  0.159453
169603  0.142755
169604  0.570154

[67842 rows x 1 columns]